    <!-- Load game scripts -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/scripts/libraries/three.js"></script>
    <script type="text/javascript" src="/scripts/engine.js"></script>
    <script type="text/javascript" src="/scripts/game/input.js"></script>
    <script type="text/javascript" src="/scripts/assets/airplane.js"></script>
    <script type="text/javascript" src="/scripts/assets/bullet.js"></script>
    <script type="text/javascript" src="/scripts/assets/sky.js"></script>
    <script type="text/javascript" src="/scripts/assets/cloud.js"></script>
    <script type="text/javascript" src="/scripts/scenes/main.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</body>
</html>
